*{
    padding: 0;
    margin: 0;
}

body{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* padding: 100px; */
    align-items: center;
    height: 100vh;
}

.box{
    height: 200px;
    width: 200px;
    background: red;
    /* margin: 50px; */
    /* padding: 50px; */
    border: 1px solid #fff;
}